html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    height: 100%;
    width: 100%;
}

.conteinerInicial {
    /* height: 757px; */
    height: 100%;
    width: 100%;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6ctESBOSayi4NK-T6ca2AbJxl70YXR_mTzg&usqp=CAU); */
    /* background-color: black; */
}

.menuGeral {
    background-color: red;
    height: 15%;
    display: flex;
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    font-weight: 900;
    border-bottom: 2px solid black;
}

.escudo {
    /* background-color: blue; */
    margin-left: 2%;
}

.escudo img {
    width: 90px;
    margin-top: 8%;
}

.texto {
    /* background-color: green; */
    /* width: 80%; */
    font-size: 20px;
    padding-top: 1.5%;
    text-align: center;
    margin-left: 2%;
    margin-right: 48%;
    color: white;
}

.iconesMenu {
    /* background-color: blue; */
    width: 5%;
    text-align: center;
    padding-top: 1.5%;
    margin-right: 2.5%;
    cursor: pointer;
}

.iconesMenu img {
    width: 50px;
}

.iconesMenu button {
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
    /* background-color: white; */
    /* border-radius: 10px; */
    /* border: 2px solid black; */
    cursor: pointer;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* margin-bottom: 5px; */
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 1); */
}

/* #menuNoticias {
    filter: invert(1);
} */

.conteinerInferior {
    /* background-color: wheat; */
    width: 1300px;
    margin: auto;
}

.cabecalho {
    height: 70px;
    /* background-color: purple; */
}

.noticiaTitulo {
    width: 15%;
    /* background-color: teal; */
    float: left;
    font-weight: normal;
}

.linhaVermelha {
    height: 5px;
    background-color: red;
    width: 80.5%;
    float: right;
    margin-top: 40px;
}

.informacoes {
    width: 100%;
    height: 500px;
    /* background-color: red; */
    margin-top: 18px;
}

.coluna {
    width: 30%;
    /* height: 100%; */
    float: left;
    /* background-color: rebeccapurple; */
}

.info {
    width: 100%;
    font-size: 17px;
    color: black;
    font-weight: bolder;
    text-align: justify;
    padding: 0;
    margin-top: 15px;
    /* background-color: blue; */
}

.coluna img {
    width: 100%;
}

.coluna2 {
    width: 30%;
    /* height: 100%; */
    float: left;
    /* background-color: rebeccapurple; */
    margin-left: 4%;
}

.coluna2 img {
    width: 100%;
}

.conteinerDash {
    margin-top: 5%;
    height: 750px;
    /* background-color: black; */
    text-align: center;
}

.tituloVideo {
    font-size: 25px;
    font-weight: bolder;
}

.iframe {
    width: 50%;
    /* background-color: blue; */
    height: 60%;
    margin-top: 5%;
    margin-left: 25%;
}